@use "@/colors"

component
  flex: 1 0 0
  width: 100%
  display: flex
  flex-direction: column
  row-gap: 1px

  > div.channel-strips-wrapper
    display: flex
    flex: 1 0 0
    width: 100%
    overflow: hidden
    background: linear-gradient(135deg, hsl(0, 0%, 12%, 5%) 0%, hsl(0, 0%, 10%, 7%) 100%)

    > div.channel-strips
      flex: 1 0 0
      width: max-content
      padding: 1em
      display: grid
      grid-template-rows: auto auto auto auto 40px 1fr auto
      grid-auto-flow: column dense
      justify-content: start
      row-gap: 4px
      column-gap: 8px

      > div.headers
        display: grid
        grid-template-rows: subgrid
        grid-row: span 7
        padding: 0 0.5em 0.5em 1em
        border-radius: 0.125em
        background: linear-gradient(135deg, rgba(200, 200, 200, 0.02) 0%, rgba(200, 200, 200, 0.04) 100%)
        border: 1px solid rgba(200, 200, 200, 0.1)

        > h5
          font-size: 0.5em
          display: flex
          margin-top: 0.375em
          justify-content: right
          color: hsl(0, 0%, 30%, 65%)
          pointer-events: none
          text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3)